{% extends "base.html" %}

{% block main %}
<table>
  <tbody>
    <tr>
      <th>nombre de usuario</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>dirección de correo electrónico</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>edad</th>
      <td>{{ user.age }}</td>
    </tr>
  </tbody>
</table>

<form action="{% url 'user_delete' user.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="退会する">
</form>

<a href="{% url 'user_detail' user.id %}">devolver</a>
{% endblock %}